@using Pronia.Areas.Client.ViewModels.Account
@model List<OrderViewModel>

<div class="myaccount-orders">
    <h4 class="small-title">MY ORDERS</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ORDER</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                    <th>TOTAL</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="account-order-id" href="#">@item.Identifikator</a>
                        </td>
                        <td>@item.OrderDate</td>
                        <td>@item.CurrentStatus</td>
                        <td>$@item.TotalPrice for @item.OrderProductsCount items</td>

                    </tr>
                }

                </tr>
            </tbody>
        </table>
    </div>
</div>