@using Pronia.Areas.Client.ViewModels.Account
@model UpdatePasswordViewModel

<div class="myaccount-details">
    <form method="POST" asp-route="client-account-updatePassword" class="myaccount-form">
        <div class="myaccount-form-inner">

            <div class="single-input">
                <label asp-for="CurrentPassword">
                    Current Password(leave blank to leave
                    unchanged)
                </label>
                <input asp-for="CurrentPassword" type="password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="single-input">
                <label asp-for="Password">
                    (leave blank to leave
                    unchanged)
                </label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>


            </div>
            <div class="single-input">
                <label asp-for="ConfirmPassword">Confirm New Password</label>
                <input asp-for="ConfirmPassword" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>
            <div class="single-input">
                <button type="submit"
                        class="btn btn btn-custom-size xl-size btn-pronia-primary">
                    SAVE CHANGES
                </button>

            </div>
        </div>
    </form>
</div>